* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    padding: 5px;
    display: flex;
}

#left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#actions {
    display: flex;
}

#code-monaco {
    flex-grow: 1;
}

#terminal {
    flex-grow: 1;
}
