html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
}

#left {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#code-monaco {
    width: 100%;
    flex-grow: 1;
}

#terminal {
    width: 100%;
}
